# build output
dist/
apps/*/dist/

# generated types
.astro/
apps/*/.astro/

# dependencies
node_modules/
apps/*/node_modules/

# Python virtual environments
.venv/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
