.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-container * {
  margin: 0;
}

.tags-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.article-tag {
  padding: .25rem .5rem;
  background: #f8f9fa;
  color: #47525d;
  text-decoration: none;
  border: 1px solid #e5e7ea;
}

.article-tag:hover, .article-tag:focus-visible {
  background: #e5e7ea;
  color: #3d464d;
  text-decoration: none;
}

.article-tag.active {
  background: var(--primary);
}
