body {
  font-family: "iA Writer Mono", monospace;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem 3rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #3498db;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

li a:hover {
  background-color: #3498db;
  color: white;
}

li a i {
  position: absolute;
  left: 1rem;
}
