.layout-grid-left, .layout-grid-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  min-height: 200px;
  contain: layout;
}

@media screen and (max-width: 640px) {
  .layout-grid-left, .layout-grid-right {
    gap: 1rem;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-container * {
  margin: 0;
}

.prose {
  line-height: 1.6;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #7b8994;
  color: #3d464d;
  text-decoration: none;
  transition: background-color .15s ease, border .15s ease;
  background-color: #ffffff;
}

.post-container:hover, .post-container:focus-visible {
  background-color: #f8f9fa;
  border: 1px solid var(--primary);
}

.post-container:focus-visible {
  outline: none;
}

.post-date {
  color: #47525d;
}

.socials-link {
  color: #3d464d;
  display: flex;
  flex-direction: row;
  gap: .75rem;
  align-items: center;
}
