body {
  font-family: "iA Writer Mono", monospace;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li a {
  position: relative;
}

li a i {
  position: absolute;
  left: 1rem;
}

li a .spacer {
  position: absolute;
  right: 1rem;
  width: 20px;
  visibility: hidden;
}
